<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real time chat applicaton</title>
    <link rel="icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/styles.min.css">
</head>
<body>

<div class="centered-form">
    <div class="centered-form__box">
        <h1>Sign up a User</h1>
        <form action="/signup" method="post">
            <label>Username</label>
            <input type="text" name="username" placeholder="Display name"
                   required>
            <label>Password</label>
            <input type="password" name="password" placeholder="Display name"
                   required>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

</body>
</html>

